body {
    font-family: 'SUIT', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 24px;
    border-bottom: 1px solid black;
    text-align: center;
}

.container {
    position: fixed;
    top: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    height: calc(100vh - 60px); /* 헤더 높이를 제외한 화면 전체 */
    justify-content: center; 
}

.posts-wrapper {
    width: 500px; 
    padding: 10px;
    text-align: center;
    height: 100%;
}

#profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: calc((100vw - 440px) / 2);  
}

#posts-title {
    font-size: 18px;
}

.write-btn-section{
    height: 80px;
    position: relative;
}

#write-btn {
    position:absolute;
    right: 0;
    width: 120px;
    height: 35px;
    padding: 5px;
    margin:20px 0;
    background-color: #ACA0EB;
    border: none;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
}

#write-btn:hover {
    background: #7F6AEE;
}

#post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: calc(100vh - 200px);
}
#post-list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.post-card {
    width: 500px;
    border-radius: 10px;
    margin: 8px;
    text-align: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding:20px 20px 10px 20px;
}

.post-info {
    font-size: 14px;
    padding:0 20px ;
}

.info-style {
    margin-right: 5px;
}

.post-divider {
    border-top: 3px solid #f5f5f5;
    margin: 15px 0;
}

.comment-section {
    padding:0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.comment-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

#nickname {
    font-weight: bold;
}
