header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    padding: 15px;
    font-size: 24px;
    border-bottom: 1px solid black;
    text-align: center;
}

.container {
    position: fixed;
    top: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    height: calc(100vh - 60px); /* 헤더 높이를 제외한 화면 전체 */
    justify-content: center; 
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.posts-wrapper {
    width: 500px; 
    padding: 10px;
    text-align: center;
}

#profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: calc((100vw - 440px) / 2);  
}

.back-btn {
    position: absolute;
    left: calc((100vw - 500px) / 2);   
    background: none;
    border: none;
    font-size: 24px;
    cursor:pointer;
    align-items: center;
}

.post-info {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.post-meta {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

#post-meta {
    display: flex;
    align-items: center;
}

.profile-group {
    display: flex;
    align-items: center;
    position:absolute;
    left: 0;
}

.btn-group {
    display: flex;
    align-items: center;
    position:absolute;
    right: 0;
}

.post-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.date {
    font-size: 14px;
    margin-right: 10px;
}

.edit-btn, .delete-btn {
    background: none;
    border: 1px solid #ACA0EB;
    width: 55px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modal-btn {
    width:100px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border-width: 0px;
    margin:5px 0;
}

#cancel-btn, #cancel-btn2 {
    background-color: black;
    color: white;
}

#confirm-btn, #confirm-btn2 {
    background-color: #ACA0EB;
    color: black;
}

#like-btn {
    cursor: pointer;
}

hr {
    margin: 20px 0;
    color:#ccc;
}

.post-content img {
    width: 500px;
    height: 500px;
}

.post-content p {
    margin: 25px 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin:0 70px;
}

.stat-box {
    width: 90px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    text-align: center;
}

.stat-count {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.stat-text {
    font-size: 16px;
    font-weight: bold;
}

.comment-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: white;
    border-radius: 10px ;
}

#comment-text {
    width: 95%;
    height: 100px;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    font-size: 16px;
    border:none;
}

#comment-text:focus {
    outline: none;
}

.btn-box {
    width:500px;
    height: 45px;
    border-top:2px solid #e0e0e0;
    position:relative;
    justify-content: center;
}

#comment-btn {
    position:absolute;
    top:5px;
    right: 5px;
    width: 120px;
    height: 35px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

#comment-btn:disabled {
    background-color: #ACA0EB;
}

#comment-btn:enabled {
    background-color: #7F6AEE;
}

#comments-list {
    margin-top: 40px;
}

.comment-item {
    margin-bottom: 40px;
}

.comment-item .comment-content {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: 10px;
    text-align: left;
}

.bottom-space {
    height: 30px;
}


